<ng-container>
<c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
    <svg cIcon name="cilMenu" size="lg"></svg></button>

    <c-header-nav class="d-none d-lg-flex me-auto"></c-header-nav>
    <c-header-nav class="ms-3">
    <ng-container *ngTemplateOutlet="notificationDropdown"></ng-container>
    <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
</c-container>
<c-header-divider></c-header-divider>
<c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
</c-container>
</ng-container>
<ng-template #userDropdown>
<c-dropdown alignment="end" variant="nav-item">
    <button
    cButton
    color=""
    [caret]="false"
    cDropdownToggle
    class="py-0"
    >
    <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/generic.png"
        status="success"
    >
    </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
    <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Cuenta</h6>
    </li>
    <li></li>
    <li>
        <a [routerLink]="['detalle-usuario', this.claims.primarysid]" cDropdownItem>
        <svg cIcon class="me-2" name="cilUser"></svg>
        Perfil
        </a>
    </li>
    <li>
        <a [routerLink]="['../login']" cDropdownItem (click)="logout()">
        <svg cIcon class="me-2" name="cilLockLocked" ></svg>
        Cerrar Sesion
        </a>
    </li>
    <li></li>
    </ul>
</c-dropdown>
</ng-template>
<ng-template #notificationDropdown>
    <c-dropdown alignment="end" variant="nav-item">
        <button
        cButton
        color=""
        [caret]="false"
        cDropdownToggle
        class="px-3"
        >
        <c-badge *ngIf="this.totalNotificaciones > 0" color="danger" position="bottom-end" shape="rounded-pill" style="top: 70% !important; left: 87% !important">{{this.totalNotificaciones}}</c-badge>
        <svg cIcon name="cilBell" size="xl"></svg>
        </button>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">Notificaciones</h6>
            </li>
            <li *ngFor="let notificacion of notificaciones" >
                <a [routerLink]="['detalle-notificaciones', this.claims.primarysid]" cDropdownItem>
                    <svg *ngIf="this.notificacion.tipoNotificacion.id === 1" cIcon class="me-2" [cTextColor]="'info'" name="cilBellExclamation"></svg>
                    <svg *ngIf="this.notificacion.tipoNotificacion.id === 2" cIcon class="me-2" [cTextColor]="'warning'" name="cilBellExclamation"></svg>
                    <svg *ngIf="this.notificacion.tipoNotificacion.id === 3" cIcon class="me-2" [cTextColor]="'danger'" name="cilBellExclamation"></svg>
                    <cite [ngStyle]="{'font-weight': this.notificacion.estadoNotificacion.id === 1 ? 'bold' : 'normal' }">{{notificacion.titulo}}</cite>
                </a>
            </li>
        </ul>
    </c-dropdown>
</ng-template>
      