<!-- <div class="d-grid gap-2" @inOut>
      <button cButton color="primary" class="mb-2" (click)="createNotificacion()">
          <svg cIcon name="cilUserPlus" size="lg" title="Nuevo Usuario"></svg> Nuevo Usuario
      </button>
</div>
<table responsive cAlign="middle" cTable hover @inOut>
    <thead>
        <tr cTableColor="dark" class="text-center">
            <th class="w-20" scope="col">Nombre</th>
            <th class="w-20" scope="col">Apellido</th>
            <th class="w-20" scope="col">Email</th>
            <th class="w-20" scope="col">Telefono</th>
            <th class="w-20" scope="col">Usuario</th>
            <th class="w-20" scope="col">Contraseña</th>
            <th class="w-20" scope="col">Rol</th>
            <th class="w-20" scope="col">Estado</th>
            <th class="w-20" scope="col">FechaAlta</th>
            <th class="w-20" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf="!loading && usuarios.length == 0">
        <tr class="text-center">
            <td colSpan="10"b><cite>No existen registros para mostrar.</cite></td>
        </tr>
    </tbody>
    <tbody *ngIf="loading">
        <tr class="text-center">
            <td colSpan="10"b>
                <c-spinner color="dark"></c-spinner>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!loading && usuarios.length !== 0">
        <tr *ngFor="let usuario of usuarios" class="text-center">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td [ngClass]="{'hidetext': mostrarClave === false}" class="hidetext" (click)="showPassword()">{{usuario.claveUsuario}}</td>
            <td>
                <strong>{{usuario.rol.descripcion}}</strong>
            </td>
            <td>
                <c-badge *ngIf="usuario.estadoUsuario.id === 1" color="success">{{usuario.estadoUsuario.descripcion}}</c-badge>
                <c-badge *ngIf="usuario.estadoUsuario.id === 2" color="danger">{{usuario.estadoUsuario.descripcion}}</c-badge>
            </td>
            <td>{{usuario.fechaAlta | date : 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
                <button cButton color="primary" variant="ghost" cTooltip="Editar Usuario" cTooltipPlacement="top" class="me-1" (click)="updateUsuario(usuario)">
                    <svg cIcon name="cilPencil" size="lg" title="Editar Usuario"></svg>
                </button>
            </td>
        </tr>
    </tbody>
</table> -->