
<div class="d-grid gap-2" @inOut>
    <button cButton color="primary" class="mb-2" (click)="createNotificacion()">
        <svg cIcon name="cilPlus" size="lg" title="Nuevo Usuario"></svg> Nueva Notificacion
    </button>
</div>
<table responsive cAlign="middle" cTable hover @inOut>
    <thead>
        <tr cTableColor="dark" class="text-center">
            <th class="w-20" scope="col">Titulo</th>
            <th class="w-20" scope="col">Descripcion</th>
            <th class="w-20" scope="col">Tipo</th>
            <th class="w-20" scope="col">Estado</th>
        </tr>
    </thead>
    <tbody *ngIf="!loading && notificaciones.length == 0">
        <tr class="text-center">
            <td colSpan="10"b><cite>No existen registros para mostrar.</cite></td>
        </tr>
    </tbody>
    <tbody *ngIf="loading">
        <tr class="text-center">
            <td colSpan="10"b>
                <c-spinner color="dark"></c-spinner>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!loading && notificaciones.length !== 0">
        <tr *ngFor="let notificacion of notificaciones" class="text-center">
            <td>{{notificacion.titulo}}</td>
            <td>{{notificacion.descripcion}}</td>
            <td *ngIf="notificacion.tipoNotificacion.id === 1" [cTextColor]="'info'">
                {{notificacion.tipoNotificacion.descripcion}}
            </td>
            <td *ngIf="notificacion.tipoNotificacion.id === 2" [cTextColor]="'warning'">
                {{notificacion.tipoNotificacion.descripcion}}
            </td>
            <td *ngIf="notificacion.tipoNotificacion.id === 3" [cTextColor]="'danger'">
                {{notificacion.tipoNotificacion.descripcion}}
            </td>
            <td>
                <c-badge *ngIf="notificacion.estadoNotificacion.id === 1" color="primary">{{notificacion.estadoNotificacion.descripcion}}</c-badge>
                <c-badge *ngIf="notificacion.estadoNotificacion.id === 2" color="success">{{notificacion.estadoNotificacion.descripcion}}</c-badge>
            </td>
        </tr>
    </tbody>
</table>