<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Eliminar Rutina</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    ¿Está seguro que desea eliminar el usuario {{deletedRutina.nombre}}?
  </c-modal-body>
  <c-modal-footer>
    <c-button-group aria-label="Basic example" role="group">
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="primary" (click)="deleteRutina()">Confirmar</button>
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">Cancelar</button>
    </c-button-group>
  </c-modal-footer>
</c-modal>
<c-row class="mb-3" *ngIf="this.claims.role == '1' || this.claims.role == '2'">
  <c-col sm="5">
    <div class="ng-autocomplete" style="width: 100% !important; min-width: auto !important;">
      <ng-autocomplete [data]="entrenadoresAdmin" [searchKeyword]="keyword" placeholder="Buscar por Entrenador/Administrador" (selected)='selectEventEntrenadores($event)' (inputCleared)='deleteEventSearchEntrenador()' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
      <ng-template #itemTemplate let-item><a [innerHTML]="item.nombreCompleto"></a></ng-template>
      <ng-template #notFoundTemplate let-notFound><div [innerHTML]="'<cite>Entrenador no encontrado</cite>'"></div></ng-template>
    </div>
  </c-col>
  <c-col sm="6">
    <div class="ng-autocomplete" style="width: 100% !important; min-width: auto !important;">
      <ng-autocomplete [data]="alumnos" [searchKeyword]="keyword" placeholder="Buscar por Alumno" (selected)='selectEventAlumnos($event)' (inputCleared)='deleteEventSearchAlumno()' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
      <ng-template #itemTemplate let-item><a [innerHTML]="item.nombreCompleto"></a></ng-template>
      <ng-template #notFoundTemplate let-notFound><div [innerHTML]="'<cite>Alumno no encontrado</cite>'"></div></ng-template>
    </div>
  </c-col>
  <c-col sm="1">
    <div class="d-grid gap-2">
      <button cButton color="primary" id="button-addon1" (click)="searchRutinas()">
        <svg cIcon name="cilSearch" title="Buscar Rutina"></svg>
      </button>
    </div>
  </c-col>
</c-row>
<div *ngIf="claims.role == '1'" class="d-grid gap-2" @inOut>
  <button cButton color="primary" class="mb-3" (click)="createRutina()">
      <svg cIcon name="cilPlaylistAdd" title="Nuevo Rutina"></svg> Nueva Rutina
  </button>
</div>
<div *ngIf="!loading && filteredRutinas.length == 0"class="text-center">
    <cite>No existen rutinas que coincidan con los criterios de busqueda.</cite>
</div>
<c-accordion [alwaysOpen]="true" [flush]="true" @inOut>
    <c-accordion-item #item0="cAccordionItem" [visible]="true" *ngFor="let rutina of filteredRutinas; index as i;" class="mt-2">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="item0.visible" cAccordionButton [cTextColor]="'primary'">
            <strong>{{rutina.nombre}}</strong> 
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          {{rutina.descripcion}}
        </div>
        <c-row>
            <c-col>
              <c-card>
                <c-card-header [cTextColor]="'primary'" class="text-center"> 
                  <cite>Ejercicios</cite>
                </c-card-header>
                <c-card-body>
                  <c-row>
                      <c-col sm="3" *ngFor="let ejercicio of rutina.ejercicios; index as i;">
                          <div class="border-start border-start-4 border-start-primary py-1 px-3">
                            <div class="text-medium-emphasis" *ngIf="this.claims.role == '1' || this.claims.role == '2'">
                              <a [routerLink]="['/main/gestion-ejercicios/', ejercicio.ejercicio.tipoEjercicio.id, ejercicio.ejercicio.nombre]">{{ejercicio.ejercicio.nombre}}</a>
                            </div>
                            <div class="text-medium-emphasis" *ngIf="this.claims.role == '3'">
                              <a [routerLink]="['/main/ejercicios/', ejercicio.ejercicio.tipoEjercicio.id, ejercicio.ejercicio.nombre]">{{ejercicio.ejercicio.nombre}}</a>
                            </div>
                            <div class="text-medium-emphasis small">Series: {{ejercicio.series}}</div>
                            <div class="text-medium-emphasis small">Repeticiones: {{ejercicio.cantidadRepeticiones}}</div>
                          </div>
                      </c-col>
                  </c-row>
                  <div *ngIf="claims.role == '1'" class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                    <button cButton color="primary" cTooltip="Asignar Rutina" cTooltipPlacement="right" (click)="asignarRutina(rutina)">
                      <svg cIcon name="cilArrowThickFromLeft" size="xs" title="Asignar Rutina"></svg>
                    </button>
                    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary" variant="ghost" cTooltip="Eliminar Rutina" cTooltipPlacement="top" class="me-1" (click)="setDeleteRutina(rutina)">
                      <svg cIcon name="cilXCircle" title="Eliminar Rutina"></svg>
                    </button>
                  </div>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
    </ng-template>
  </c-accordion-item>
</c-accordion>