<div class="bg-light min-vh-100 d-flex flex-row align-items-center clearfix" @inOut>
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="4">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <div class="text-center">
                    <svg cIcon name="cilLoop" size="xxl" title="Numbered List Icon" class="mb-2"></svg>
                </div>
                <form cForm #confirmResetPasswordForm="ngForm" class="row g-3 needs-validation" (ngSubmit)="confirmResetPassword(confirmResetPasswordForm)" [validated]="tooltipValidated">
                  <div class="text-center">
                    <h6>Confirmar solicitud de cambio de password</h6>
                  </div>
                  <div class="text-center">
                    <p class="text-medium-emphasis">
                        Ingresa un nuevo password para confirmar el cambio.
                    </p>
                  </div>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input cFormControl id="claveUsuario" type="password" name="password" [(ngModel)]="solicitudCambioPassword.nuevaClave" autoComplete="current-password" placeholder="Ingrese su nueva password" required />
                    <c-form-feedback [valid]="false" tooltip>Debe ingresar un password</c-form-feedback>
                  </c-input-group>
                  <c-col xs="12" class="text-center">
                    <button cButton color="primary" type="submit">
                    Confirmar Password
                    </button>
                  </c-col>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
          <alert></alert>
        </c-col>
      </c-row>
    </c-container>
  </div>