<div class="bg-light min-vh-100 d-flex flex-row align-items-center clearfix" @inOut>
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="4">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <div class="text-center">
                    <svg cIcon name="cilLockLocked" size="xxl" title="Numbered List Icon" class="mb-2"></svg>
                </div>
                <form cForm #resetPasswordMailForm="ngForm" class="row g-3 needs-validation" (ngSubmit)="sendResetPasswordMail(resetPasswordMailForm)" [validated]="tooltipValidated">
                  <div class="text-center">
                    <h6>¿Tienes problemas para iniciar sesión?</h6>
                  </div>
                  <div class="text-center">
                    <p class="text-medium-emphasis">
                        Ingresa tu correo electrónico y 
                        te enviaremos un enlace para que recuperes el acceso a tu cuenta.
                    </p>
                  </div>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilEnvelopeClosed"></svg>
                    </span>
                    <input cFormControl id="claveUsuario" type="email" name="email" [(ngModel)]="resetEmailSend" autoComplete="current-password" placeholder="Ingrese un correo electrónico" required />
                    <c-form-feedback [valid]="false" tooltip>Debe ingresar un email</c-form-feedback>
                  </c-input-group>
                  <c-col xs="12" class="text-center">
                    <button cButton color="primary" type="submit">
                    Enviar Correo
                    </button>
                  </c-col>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
          <alert></alert>
        </c-col>
      </c-row>
    </c-container>
  </div>