<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <c-modal-header>
        <h5 cModalTitle>Eliminar Ejercicio</h5>
        <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        ¿Está seguro que desea eliminar el ejercicio {{deletedEjercicio.nombre}}?
    </c-modal-body>
    <c-modal-footer>
        <c-button-group aria-label="Basic example" role="group">
            <button [cModalToggle]="verticallyCenteredModal.id" cButton color="primary" (click)="deleteEjercicio()">Confirmar</button>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">Cancelar</button>
        </c-button-group>
    </c-modal-footer>
</c-modal>
<c-input-group class="mb-3">
    <input aria-describedby="button-search" [(ngModel)]="searchNombreEjercicio" cFormControl placeholder="Buscar por Nombre..."/>
    <select cSelect id="tipoEjercicio" name="tipoEjercicio" [(ngModel)]="searchTipoEjercicio" required>
        <option [value]="0" [selected]="0 === searchTipoEjercicio">Buscar por Tipo...</option>
        <option *ngFor="let ejercicio of tiposEjercicios" [selected]="ejercicio.id === searchTipoEjercicio" [value]="ejercicio.id">{{ ejercicio.descripcion }}</option>
    </select>
    <button cButton color="primary" id="button-addon1" (click)="searchEjercicios()">
        <svg cIcon name="cilSearch" title="Buscar Ejercicio"></svg>
      </button>
</c-input-group>
<div *ngIf="claims.role == '1' || claims.role == '2'" class="d-grid gap-2" @inOut>
    <button cButton color="primary" class="mb-3" (click)="createEjercicio()">
        <svg cIcon name="cilLibraryAdd" title="Nuevo Rutina"></svg> Nuevo Ejercicio
    </button>
</div>
<div *ngIf="!loading && filteredEjercicios.length == 0"class="text-center">
    <cite>No existen ejercicios que coincidan con el criterio de busqueda.</cite>
</div>
<c-row *ngIf="!loading && ejercicios.length !== 0" [gutter]="4" class="mb-3" [md]="3" [xs]="1" @inOut>
    <c-col *ngFor="let ejercicio of filteredEjercicios; index as i;">
        <c-card class="h-100">
        <iframe [class.thumbnail]="'thumbnail'" [src]="safeSrc[i]" [height]="300" mozallowfullscreen allowfullscreen></iframe>
        <c-card-body>
            <h5 cCardTitle [cTextColor]="'primary'"><cite>{{ejercicio.nombre}}</cite></h5>
            <p cCardText [cTextColor]="'secondary'">
            {{ejercicio.descripcion}}
            </p>
        </c-card-body>
        <c-card-footer>
            <c-row>
                <c-col [xs]=8 class="d-flex align-items-center">
                    <small class="text-medium-emphasis"><cite>Tipo de Ejercicio: </cite><c-badge color="primary">{{ejercicio.tipoEjercicio.descripcion}}</c-badge></small>
                </c-col>
                <c-col *ngIf="claims.role == '1' || claims.role == '2'" [xs]=4 class="d-flex justify-content-end pe-0">
                    <button cButton color="primary" variant="ghost" cTooltip="Editar Ejercicio" cTooltipPlacement="top" (click)="updateEjercicio(ejercicio)">
                        <svg cIcon name="cilPencil" title="Editar Usuario"></svg>
                    </button>
                    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary" variant="ghost" cTooltip="Eliminar Ejercicio" cTooltipPlacement="top" class="me-1" (click)="setDeleteEjercicio(ejercicio)">
                        <svg cIcon name="cilXCircle" title="Eliminar Ejercicio"></svg>
                    </button>
                </c-col>
            </c-row>
        </c-card-footer>
        </c-card>
    </c-col>
</c-row>