
<c-card [cBorder]="{top: {color: 'dark', width: 3}}" [textColor]="'primary'" class="mb-3" @inOut>
    <c-card-header class="text-center">
        <strong>{{rutina.nombre}}</strong>
    </c-card-header>
    <c-card-body>
        <c-row>
            <c-col>
                <div class="text-center">
                    <p class="text-medium-emphasis">Seleccione los alumnos:</p>
                </div>
                <c-input-group class="mb-3">
                    <input aria-describedby="button-search" [(ngModel)]="searchNombreAlumno" cFormControl placeholder="Buscar por Nombre..."/>
                    <button cButton color="primary" id="button-addon1" (click)="searchAlumnos()">
                        <svg cIcon name="cilSearch" title="Buscar Alumno"></svg>
                        </button>
                </c-input-group>
                <div *ngIf="loading" class="text-center">
                    <c-spinner color="dark"></c-spinner>
                </div>
                <ul *ngIf="!loading && this.filteredAlumnos.length == 0" class="mb-2" cListGroup>
                    <li class="text-center" cListGroupItem>
                        <cite>No existen alumnos que coincidan con el criterio de busqueda.</cite>
                    </li>
                </ul>
                <div class="overflow-scroll" style="max-height: 290px;">
                    <ul [flush]="true" *ngIf="!loading && this.filteredAlumnos.length != 0" class="mb-2" cListGroup>
                        <li *ngFor="let alumno of this.filteredAlumnos" cListGroupItem>
                            <c-form-check>
                                <input cFormCheckInput type="checkbox" [checked]="alumno.selected" (click)="setCheckSelected(alumno)">
                                <label cFormCheckLabel>{{ alumno.apellido }}, {{ alumno.nombre }}</label>
                            </c-form-check>
                        </li>
                    </ul>
                </div>
            </c-col>
            <c-col>
                <div class="text-center">
                    <p class="text-medium-emphasis">Alumnos asignados:</p>
                </div>
                <div class="overflow-scroll" style="max-height: 305px;">
                    <div *ngIf="loading" class="text-center">
                        <c-spinner color="dark"></c-spinner>
                    </div>
                    <ul *ngIf="!loading && this.rutina.usuarios.length == 0" class="mb-2" cListGroup>
                        <li class="text-center" cListGroupItem>
                            <cite>No existen alumnos asignados.</cite>
                        </li>
                    </ul>
                    <ul [flush]="true" *ngIf="!loading && this.rutina.usuarios.length != 0" cListGroup>
                        <li class="pb-1 pt-1" *ngFor="let alumno of this.rutina.usuarios" cListGroupItem>
                            <svg cIcon name="cilCheck" title="Asignar Rutina" class="text-success"></svg> 
                            {{ alumno.usuario.apellido }}, {{ alumno.usuario.nombre }}
                            <button cButton color="danger" variant="ghost" cTooltip="Desasignar Alumno" cTooltipPlacement="right" (click)="desasignarAlumno(rutina.id, alumno.usuario.id)">
                                <svg cIcon name="cilXCircle" title="Desasignar Alumno"></svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <textarea class="mt-3" cFormControl [(ngModel)]= "observacion" id="descripcion" rows="4" [placeholder]="'Ingrese una observacion...'"></textarea>
                <div class="d-grid gap-2">
                    <c-button-group aria-label="Basic example" role="group">
                        <button cButton color="primary" cTooltip="Asignar Alumno/s" cTooltipPlacement="bottom" class="mt-2" (click)="asignarAlumnos(rutina.id, this.alumnos, this.observacion)">
                            <svg cIcon name="cilArrowThickFromLeft" size="xs" title="Asignar Alumno/s"></svg>
                        </button>
                        <button cButton (click)="onBack()" color="secondary" class="mt-2" type="reset">Atras</button>
                    </c-button-group>
                </div>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>