<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Eliminar Usuario</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    ¿Está seguro que desea eliminar el usuario {{deletedUsuario.apellido}}, {{deletedUsuario.nombre}}?
  </c-modal-body>
  <c-modal-footer>
    <c-button-group aria-label="Basic example" role="group">
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="primary" (click)="deleteUsuario()">Confirmar</button>
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">Cancelar</button>
    </c-button-group>
  </c-modal-footer>
</c-modal>
<c-input-group class="mb-3">
    <input aria-describedby="button-search" [(ngModel)]="searchNombreUsuario" cFormControl placeholder="Buscar por Nombre..."/>
    <input aria-describedby="button-search" [(ngModel)]="searchApellidoUsuario" cFormControl placeholder="Buscar por Apellido..."/>
    <select cSelect id="rol" name="rol" [(ngModel)]="searchRolUsuario" required>
        <option [ngValue]="0">Buscar por Rol...</option>
        <option *ngFor="let rol of roles" [ngValue]="rol.id">{{ rol.descripcion }}</option>
    </select>
    <button cButton color="primary" id="button-addon1" (click)="searchUsuarios()">
        <svg cIcon name="cilSearch" title="Buscar Usuario"></svg>
      </button>
</c-input-group>
<div class="d-grid gap-2" @inOut>
    <button cButton color="primary" class="mb-3" (click)="createUsuario()">
        <svg cIcon name="cilUserPlus" title="Nuevo Usuario"></svg> Nuevo Usuario
    </button>
</div>
<table responsive cAlign="middle" cTable hover @inOut>
    <thead>
        <tr cTableColor="dark" class="text-center">
            <th class="w-20" scope="col">Apellido</th>
            <th class="w-20" scope="col">Nombre</th>
            <th class="w-20" scope="col">Email</th>
            <th class="w-20" scope="col">Telefono</th>
            <th class="w-20" scope="col">Usuario</th>
            <th class="w-20" scope="col">Contraseña</th>
            <th class="w-20" scope="col">Rol</th>
            <th class="w-20" scope="col">Estado</th>
            <th class="w-20" scope="col">FechaAlta</th>
            <th class="w-20" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf="!loading && filteredUsuarios.length == 0">
        <tr class="text-center">
            <td colSpan="10"b><cite>No existen usuarios que coincidan con el criterio de busqueda.</cite></td>
        </tr>
    </tbody>
    <tbody *ngIf="loading">
        <tr class="text-center">
            <td colSpan="10"b>
                <c-spinner color="dark"></c-spinner>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!loading && filteredUsuarios.length !== 0">
        <tr *ngFor="let usuario of filteredUsuarios" class="text-center">
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td [ngClass]="{'hidetext': mostrarClave === false}" class="hidetext" (click)="showPassword()">{{usuario.claveUsuario}}</td>
            <td>
                <strong>{{usuario.rol.descripcion}}</strong>
            </td>
            <td>
                <c-badge *ngIf="usuario.estadoUsuario.id === 1" color="success">{{usuario.estadoUsuario.descripcion}}</c-badge>
                <c-badge *ngIf="usuario.estadoUsuario.id === 2" color="danger">{{usuario.estadoUsuario.descripcion}}</c-badge>
            </td>
            <td>{{usuario.fechaAlta | date : 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
                <button cButton color="primary" variant="ghost" cTooltip="Editar Usuario" cTooltipPlacement="top" class="me-1" (click)="updateUsuario(usuario)">
                    <svg cIcon name="cilPencil" title="Editar Usuario"></svg>
                </button>
                <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary" variant="ghost" cTooltip="Eliminar Usuario" cTooltipPlacement="top" class="me-1" (click)="setDeleteUser(usuario)">
                    <svg cIcon name="cilXCircle" title="Eliminar Usuario"></svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>