
<c-card [cBorder]="{top: {color: 'dark', width: 3}}" [textColor]="'primary'" class="mb-3" @inOut>
    <c-card-header class="text-center">
        Nuevo Turno
    </c-card-header>
    <c-card-body>
        <form cForm #nuevoTurnoForm="ngForm" class="row g-3 needs-validation" (ngSubmit)="createTurno(nuevoTurnoForm)" [validated]="tooltipValidated">
            <c-col class="position-relative mb-2" md="12">
                <div class="text-center">
                    <p class="text-medium-emphasis">Seleccione el entrenador a cargo:</p>
                </div>
                <c-input-group class="mb-3">
                    <input id="buscarEntrenador" name="buscarEntrenador" aria-describedby="button-search" [(ngModel)]="searchNombreEntrenador" cFormControl placeholder="Buscar por Nombre..."/>
                    <button cButton color="primary" id="buscarEntrenador" (click)="searchEntrenadores()">
                        <svg cIcon name="cilSearch" title="Buscar Entrenador"></svg>
                        </button>
                </c-input-group>
                <ul *ngIf="this.filteredEntrenadores.length == 0" class="mb-2" cListGroup>
                    <li class="text-center" cListGroupItem>
                        <cite>No existen entrenadores que coincidan con el criterio de busqueda.</cite>
                    </li>
                </ul>
                <div class="overflow-scroll" style="height: 250px;">
                    <ul [flush]="true" *ngIf="this.filteredEntrenadores.length != 0" class="mb-2" cListGroup>
                        <li *ngFor="let entrenador of this.filteredEntrenadores" cListGroupItem>
                            <c-form-check>
                                <input cFormCheckInput id="listaEntrenadores" type="checkbox" [checked]="entrenador.selected" (click)="setCheckSelected(entrenador)" [disabled]="idEntrenadorSelected > 0 && idEntrenadorSelected != entrenador.id">
                                <label cFormCheckLabel id="listaEntrenadores">{{ entrenador.apellido }}, {{ entrenador.nombre }}</label>
                            </c-form-check>
                        </li>
                    </ul>
                </div>
            </c-col>
            <c-col class="position-relative mb-2" md="6">
                <label cLabel for="nombre">Cantidad de Alumnos</label>
                <input cFormControl id="nombre" type="number" [(ngModel)]="turno.cantidadAlumnos" name="nombre" [min]="1" required />
                <c-form-feedback [valid]="false" tooltip>La cantidad de alumnos debe ser mayor que 0</c-form-feedback>
            </c-col>
            <c-col class="position-relative mb-2" md="6">
                <label cLabel for="rol">Clase</label>
                <select cSelect id="rol" name="rol" [(ngModel)]="turno.clase.id" required>
                    <option [ngValue]="0" disabled>Seleccione una clase</option>
                    <option *ngFor="let clase of clases" [ngValue]="clase.id">{{ clase.nombre }}</option>
                </select>
                <c-form-feedback [valid]="false" tooltip>Debe ingresar una clase</c-form-feedback>
            </c-col>
            <c-col class="position-relative mb-2" md="12">
                <label cLabel for="observacion">Observacion</label>
                <textarea cFormControl id="observacion" [(ngModel)]="turno.observacion" rows="3" name="observacion" required>
                </textarea>
                <c-form-feedback [valid]="false" tooltip>Debe ingresar una observacion</c-form-feedback>
            </c-col>
            <c-col class="text-center" xs="1"></c-col>
            <c-col class="text-center" xs="10">
                <label cLabel for="fechaTurno" class="mb-2">Selecccione el horario del turno</label>
                <dl-date-time-picker cFormControl 
                                     id="fechaTurno" 
                                     name="fechaTurno" 
                                     startView="day" 
                                     maxView="year" 
                                     minView="minute" 
                                     timeZone="America/Argentina/Buenos_Aires"
                                     [(ngModel)]="selectedDate"
                                     required></dl-date-time-picker>
            </c-col>
            <c-col class="text-center" xs="1"></c-col>
            <c-col class="text-center" xs="12">
                <c-button-group aria-label="Basic example" role="group">
                    <button cButton color="primary" type="submit">Confirmar</button>
                    <button cButton (click)="onBack()" color="secondary" type="reset">Atras</button>
                </c-button-group>
            </c-col>
        </form>
    </c-card-body>
</c-card>