<c-card-group *ngIf="this.claims.role == '1'" class="mb-4" @inOut>
  <c-col *ngIf="loading">
    <div class="text-center">
      <c-spinner color="dark"></c-spinner>
    </div>
  </c-col>
  <c-widget-stat-c *ngIf="!loading" [title]="'Total Alumnos Activos'" [value]="totalAlumnosActivos">
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilPeople"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">
      <c-progress class="mt-3 mb-0" thin>
        <c-progress-bar [value]="100" color="primary"></c-progress-bar>
      </c-progress>
    </ng-template>
  </c-widget-stat-c>
  <c-widget-stat-c *ngIf="!loading" [title]="'Total Entrenadores Activos'" [value]="totalEntrenadoresActivos">
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilPeople"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">
      <c-progress class="mt-3 mb-0" thin>
        <c-progress-bar [value]="100" color="success"></c-progress-bar>
      </c-progress>
    </ng-template>
  </c-widget-stat-c>
  <c-widget-stat-c *ngIf="!loading" [title]="'Total Administradores Activos'" [value]="totalAdministradoresActivos">
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilPeople"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">
      <c-progress class="mt-3 mb-0" thin>
        <c-progress-bar [value]="100" color="warning"></c-progress-bar>
      </c-progress>
    </ng-template>
  </c-widget-stat-c>
  <c-widget-stat-c *ngIf="!loading" [title]="'Total Usuarios Inactivos'" [value]="totalUsuariosInactivos">
    <ng-template cTemplateId="widgetIconTemplate">
      <svg cIcon height="36" name="cilPeople"></svg>
    </ng-template>
    <ng-template cTemplateId="widgetProgressTemplate">
      <c-progress class="mt-3 mb-0" thin>
        <c-progress-bar [value]="100" color="danger"></c-progress-bar>
      </c-progress>
    </ng-template>
  </c-widget-stat-c>
</c-card-group>
<c-card *ngIf="this.claims.role == '1'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Altas de Usuarios
        </h4>
        <div class="small text-medium-emphasis">Desde Enero - Hasta Diciembre - 2022</div>
      </c-col>
    </c-row>
    <div *ngIf="loading" class="text-center">
      <c-spinner color="dark"></c-spinner>
    </div>
    <c-chart *ngIf="!loading"
             [data]="mainChart.data"
             [height]="300"
             [ngStyle]="{'marginTop.px': 40}"
             [options]="mainChart.options"
             [type]="mainChart.type">
      Main chart
    </c-chart>
  </c-card-body>
</c-card>
<c-card *ngIf="this.claims.role == '1'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col>
        <h4 class="card-title mb-0" id="traffic">
          Cantidad de Alumnos asignados a Turnos
        </h4>
        <div class="small text-medium-emphasis">De Lunes a Domingo</div>
        <div *ngIf="loading" class="text-center">
          <c-spinner color="dark"></c-spinner>
        </div>
        <c-chart [data]="dataCantidadAlumnosTurnos" type="bar"></c-chart>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<c-card *ngIf="this.claims.role == '1'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col>
        <h4 class="card-title mb-0" id="traffic">
          Cantidad de Alumnos por Clases
        </h4>
        <div class="small text-medium-emphasis">Ranking de clases por cantidad de alumnos</div>
        <div *ngIf="loading" class="text-center">
          <c-spinner color="dark"></c-spinner>
        </div>
        <c-chart 
                 [data]="dataCantidadAlumnosClases" 
                 type="polarArea">
                </c-chart>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<c-card *ngIf="this.claims.role == '2'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col>
        <h4 class="card-title mb-0" id="traffic">
          Total de Alumnos
        </h4>
        <div class="small text-medium-emphasis mb-2">Cantidad de Alumnos por Clase</div>
        <c-card-group *ngIf="this.claims.role == '2'" class="mb-4" @inOut>
          <c-col *ngIf="loading">
            <div class="text-center">
              <c-spinner color="dark"></c-spinner>
            </div>
          </c-col>
          <div *ngIf="!loading && this.turnosEntrenadores.length == 0" class="text-center">
            <cite>No existen turnos asignados.</cite>
          </div>
          <c-widget-stat-c *ngFor="let turnoEntrenador of this.turnosEntrenadores" title="{{'Cantidad de Alumnos ' + turnoEntrenador.descripcion}}" [value]="turnoEntrenador.cantidadAlumnosAsignados">
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cilPeople"></svg>
            </ng-template>
            <ng-template cTemplateId="widgetProgressTemplate">
              <c-progress class="mt-3 mb-0" thin>
                <c-progress-bar [value]="100" color="primary"></c-progress-bar>
              </c-progress>
            </ng-template>
          </c-widget-stat-c>
        </c-card-group>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<c-card *ngIf="this.claims.role == '3'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col>
        <h4 class="card-title mb-0" id="traffic">
          Clases
        </h4>
        <div class="small text-medium-emphasis mb-3">Nuestras clases disponibles</div>
      </c-col>
    </c-row>
    <div *ngIf="loading" class="text-center">
      <c-spinner color="dark"></c-spinner>
    </div>
    <c-row>
      <c-col *ngIf="!loading && this.clases.length > 0">
        <c-carousel (itemChange)="onItemChange($event)" [interval]="5000" transition="crossfade" [wrap]="false">
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let clase of clases">
              <img alt="{{clase.nombre}}" class="d-block w-100" [height]="680" loading="lazy" [src]="clase.imagen" />
              <c-carousel-caption class="d-none d-md-block">
                <h3>{{clase.nombre}}</h3>
                <p>{{clase.descripcion}}</p>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink]="[]" caption="Previous" direction="prev" i18n-caption></c-carousel-control>
          <c-carousel-control [routerLink]="[]" caption="Next" direction="next" i18n-caption></c-carousel-control>
        </c-carousel>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<c-card *ngIf="this.claims.role == '3' || this.claims.role == '2'" class="mb-4" @inOut>
  <c-card-body>
    <c-row>
      <c-col>
        <h4 class="card-title mb-0" id="traffic">
          Mis Rutinas
        </h4>
        <div class="small text-medium-emphasis mb-3" *ngIf="this.claims.role == '3'">Rutinas asignadas</div>
        <div class="small text-medium-emphasis mb-3" *ngIf="this.claims.role == '2'">Rutinas creadas</div>
      </c-col>
    </c-row>
    <div *ngIf="loading" class="text-center">
      <c-spinner color="dark"></c-spinner>
    </div>
    <c-row>
      <div *ngIf="!loading && this.rutinasAlumno.length == 0" class="text-center">
        <cite>No existen rutinas asignadas.</cite>
      </div>
      <c-col *ngIf="!loading && this.rutinasAlumno.length > 0">
        <c-widget-stat-f [title]="" class="mb-3" color="primary" padding value="{{rutinaAlumno.nombre}}" *ngFor="let rutinaAlumno of this.rutinasAlumno">
          <ng-template cTemplateId="widgetIconTemplate">
            <svg cIcon name="cilClipboard" size="xl" width="24"></svg>
          </ng-template>
          <ng-template cTemplateId="widgetFooterTemplate">
            <a class="font-weight-bold font-xs text-medium-emphasis" [routerLink]="['/main/rutinas/', rutinaAlumno.nombre]">
              Ver Rutina
              <svg cIcon class="float-end" name="cilArrowRight" width="16"></svg>
            </a>
          </ng-template>
        </c-widget-stat-f>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<c-card class="mt-3" *ngIf="this.claims.role == '3' || this.claims.role == '2'" @inOut>
  <c-card-body>
      <c-row>
          <c-col>
              <h4 class="card-title mb-0" id="traffic">
              Mis Turnos
              </h4>
              <div class="small text-medium-emphasis mb-3" *ngIf="this.claims.role == '3'">Turnos asignados</div>
              <div class="small text-medium-emphasis mb-3" *ngIf="this.claims.role == '2'">Turnos creados</div>
          </c-col>
      </c-row>
      <c-row>
          <c-col>
              <table responsive cAlign="middle" cTable hover @inOut>
                  <thead>
                      <tr cTableColor="primary" class="text-center">
                          <th class="w-20" scope="col">Clase</th>
                          <th class="w-20" scope="col">Fecha</th>
                          <th class="w-20" scope="col">Hora</th>
                      </tr>
                  </thead>
                  <tbody *ngIf="!loading && this.turnosUsuario.length == 0">
                      <tr class="text-center">
                          <td colSpan="3"><cite>No existen turnos asignados/creados.</cite></td>
                      </tr>
                  </tbody>
                  <tbody *ngIf="loading">
                    <tr class="text-center">
                        <td colSpan="10"b>
                            <c-spinner color="dark"></c-spinner>
                        </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!loading && this.turnosUsuario.length !== 0">
                      <tr *ngFor="let turno of this.turnosUsuario" class="text-center">
                          <td>{{turno.clase.nombre}}</td>
                          <td>{{turno.fechaHora | date : 'dd-MM-yyyy'}}</td>
                          <td>{{turno.fechaHora | date : 'hh:mm:ss'}}</td>
                      </tr>
                  </tbody>
              </table>
          </c-col>
      </c-row>
  </c-card-body>
</c-card>
